build/
_build/
_static/
_templates/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python files
*.pyc

# Test Files
tests/data/*

#CMakeFiles
CMakeFiles/*
src/CMakeFiles/*

CMakeFiles/Progress/1
CMakeFiles/Progress/10
CMakeFiles/Progress/11
CMakeFiles/Progress/12
CMakeFiles/Progress/13
CMakeFiles/Progress/14
CMakeFiles/Progress/15
CMakeFiles/Progress/16
CMakeFiles/Progress/17
CMakeFiles/Progress/18
CMakeFiles/Progress/19
CMakeFiles/Progress/2
CMakeFiles/Progress/20
CMakeFiles/Progress/21
CMakeFiles/Progress/22
CMakeFiles/Progress/23
CMakeFiles/Progress/24
CMakeFiles/Progress/25
CMakeFiles/Progress/26
CMakeFiles/Progress/27
CMakeFiles/Progress/28
CMakeFiles/Progress/29
CMakeFiles/Progress/3
CMakeFiles/Progress/30
CMakeFiles/Progress/31
CMakeFiles/Progress/4
CMakeFiles/Progress/5
CMakeFiles/Progress/6
CMakeFiles/Progress/7
CMakeFiles/Progress/8
CMakeFiles/Progress/9
CMakeFiles/Progress/count.txt
src/CMakeFiles/OBJS.dir/CXX.includecache
src/CMakeFiles/OBJS.dir/depend.internal
